{% extends 'base_campaigns.html' %}

{% load crispy_forms_tags %}

{% block header %}Create/modify Campaign{% endblock %}

{% block content %}
<div class="container">
    <form class="form-inline" method="post">
        {% crispy form %}
        {% for inline in inlines %}
            <br>
            {% crispy inline inlines_helper %}
        {% endfor %}
        <div class="form-actions">
            <input type="submit" name="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
{% endblock content %}