{% extends "base_shows.html" %}

{% block header %}{{ show.name }}<a href="{% url 'shows:update' show.pk %}"><button class="btn btn-default pull-right">Edit</button></a>{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-3">
        <a href="{{ show.art.url }}">
            <img class="img-rounded img-responsive" src="{{ show.art.url }}" alt="{{ show.name }}" />
        </a>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <p class="text-right col-sm-2"><strong>Host</strong></p>
            <p class="col-sm-10">{% if show.host %}<a href="{{ show.host.get_absolute_url }}">{{ show.host.name }}</a>{% endif %}</p>
        </div>
        <div class="row">
            <p class="text-right col-sm-2"><strong>Description</strong></p>
            <p class="col-sm-10">{{ show.description }}</p>
        </div>
        <div class="row">
            <p class="text-right col-sm-2"><strong>Homepage</strong></p>
            <p class="col-sm-10"><a href="{{ show.link }}" target="_blank">{{ show.link }}</a></p>
        </div>
        <div class="row">
            <p class="text-right col-sm-2"><strong>Platform</strong></p>
            <p class="col-sm-10">{{ show.platform }}</p>
        </div>
        <div class="row">
            <p class="text-right col-sm-2"><strong>Tags</strong></p>
            <p class="col-sm-10">{{ show.tags.all|join:", " }}</p>
        </div>
        <div class="row">
            <p class="text-right col-sm-2"><strong>Vendor</strong></p>
            <p class="col-sm-10">{{ show.default_vendor }}</p>
        </div>
        <div class="row">
            <p class="text-right col-sm-2"><strong>Downloads/ep.</strong></p>
            <p class="col-sm-10">{{ show.downloads_per_episode }}</p>
        </div>
        <div class="row">
            <p class="text-right col-sm-2"><strong>Notes</strong></p>
            <p class="col-sm-10">{{ show.notes }}</p>
        </div>
    </div>
</div>
{% endblock content %}