/* Site-wide Bootstrap3 tweaks
-------------------------------------------------- */

@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#logo {
    margin-top: -20px;
}

#big-glyph {
    vertical-align: -12px;
}

td.art {
    vertical-align: middle;
    text-align: center;
}